@media screen and (max-width: 991px) {
  .form-log{
    width: 380px;
    margin-left: -72px;
  }
  .divL{
    margin-top: -40px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
    .form-log{
      width: 350px;
      margin-left: -92px;
    }
    .divL{
      margin-top: -40px;
      margin-bottom: 15px;
    }
}

@media screen and (max-width: 450px) {
    .form-log{
      width: 380px;
      margin-left: -120px;
    }
    .divL{
      margin-top: -40px;
      margin-bottom: 20px;
    }
}

@media screen and (max-width: 400px) {
    .form-log{
      width: 325px;
      margin-left: -100px;
    }
    .divL{
      margin-top: -40px;
      margin-bottom: 20px;
    }
}

@media screen and (max-width: 360px) {
    .form-log{
      width: 300px;
      margin-left: -100px;
    }
    .divL{
      margin-top: -40px;
      margin-bottom: 20px;
    }
}

@media screen and (max-width: 280px) {
    .form-log{
      width: 260px;
      margin-left: -90px;
    }

    .divL{
      margin-top: -40px;
      margin-bottom: 20px;
    }
}

@media screen and (max-width: 200px) {
  .form-log{
    width: 200px;
    margin-left: -75px;
  }

  .divL{
    margin-top: -40px;
    margin-bottom: 15px;
  }
}
