@font-face {
   src: url(../fonts/ChaparralProLight.ttf);
   font-family: 'chaparral';

   src: url(../fonts/GibsonLight.OTF);
   font-family: 'canada';
}

.menu{
   margin: 0px;
   height: 100px;
   width: 100px;
   display: grid;
   align-content: center;
   justify-content: center;
}

.ico{
   height: 50px;
   width: 50px;
}

.iconoMenu, .iconoClose{
   cursor: pointer;
}

#btn-menu{
   display: none;
}

.container-menu{
   position: absolute;
   background: rgba(0, 0, 0, 0.5);
   height: 100vh;
   width: 100%;
   top: 0;
   left: 0;
   transition: all 500ms ease;
   opacity: 0;
   visibility: hidden;
}

#btn-menu:checked ~ .container-menu{
   opacity: 1;
   visibility: visible;
}

.cont-menu{
   width: 100%;
   max-width: 250px;
   background: rgba(0, 0, 3, 1);
   height: 100vh;
   position: relative;
   transition: all 500ms ease;
   transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu{
   transform: translateX(0%);
}

.cont-menu nav{
   transform: translateY(15%);
}

.cont-menu nav a{
   display: block;
   text-decoration: none;
   padding: 20px;
   color: #c7c7c7;
   border-left: 5px solid transparent;
   transition: all 400ms ease;
   font-family:'canada';
}

.cont-menu nav a:hover{
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}

.cont-menu label{
   position: absolute;
   right: 5px;
   top: 10px;
}
