@media screen and (max-width: 991px) {
    .content-form{
        margin: 0 auto;
        width: 50%;
    }
  }

@media screen and (max-width: 768px) {
    .content-form{
      margin: 0 auto;
      width: 70%;
    }
  }

@media screen and (max-width: 450px) {
    .content-form{
      width: 93%;
      margin-left: 15px;
    }
  }

@media screen and (max-width: 400px) {
    .content-form{
      width: 93%;
      margin-left: 13px;
    }
  }

@media screen and (max-width: 360px) {
    .content-form{
      width: 93%;
      margin-left: 10px;
    }
  }

@media screen and (max-width: 280px) {
    .content-form{
      width: 93%;
      margin-left: 10px;
    }
    .imputC::placeholder{
        font-size: 11px;
    }
    .imputC{
      font-size: 11px;
  }
  }

  @media screen and (max-width: 200px) {
    .content-form{
      width: 93%;
      margin-left: 6px;
    }
    .imputC{
        font-size: 8px;
    }
  }
