@font-face {
  src: url(../fonts/ChaparralProLight.ttf);
  font-family: 'chaparral';
}

.container{
  margin: 25px auto;
}

.divT{
  text-align: center;
  margin-top: -150px;
}

.mdTag{
  font-family: 'chaparral';
  color: #f2f2f2;
  text-align: center;
}

.lb{
  font-family: 'chaparral';
  color: #f2f2f2;
  text-align: center;
  font-size: 45px;
}
